{% extends 'base.html' %}
{% load static %}
{% block title %}- Update{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel nanel-default">
        <div class="alert alert-info">회원정보를 수정하세요.</div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}: {{ form.username }}<br><br>
            {{ form.email.label_tag }}: {{ form.email }}<br><br>
            <input type="submit" class="btn btn-primary" value="수정하기">
        </form>
        <br>
        <a href="{% url 'accounts1:change_password' %}" class="btn btn-secondary" style="margin-right: 10px;">비밀번호 수정</a>
        <a href="{% url 'accounts1:delete' %}" class="btn btn-danger">회원탈퇴</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}