<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <link href="{% static 'shop/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Popper.js and Bootstrap.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/320e17fa54.js" crossorigin="anonymous"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'shop/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script>
<!--댓글창 추천-->
  $(document).ready(function() {
    $(".recommend").click(function() {
      var dataUri = $(this).data("uri");
      var votesBadge = $(this).find(".bg-success");

      $.ajax({
        url: dataUri,
        method: "POST",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
          if (response.status == "success") {
            var newVotes = response.votes;
            votesBadge.text(newVotes);
          } else {
            alert(response.message);
          }
        }
      });
    });
  });





    </script>

    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}

    <style>
    .zoom {
    transition: transform .2s; /* 애니메이션 효과 */
    margin: 0 auto;
    }

    .zoom:hover {
    transform: scale(1.5); /* 이미지를 1.5배로 확대 */
    }

    .product_discounted_price {
    color: #FF4500;
    font-size: 25px;
    font-style: important;
    padding-left: 4px;
    font-weight: bold;
}



    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'shop/images/코오팡.png' %}" style="width:150px; height:50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:product_all' %}">상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:product_all' %}">고객센터</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">search</button>
            </form>
            <ul class="navbar-nav ml-auto mx-3">
                {% if user.is_authenticated %}
                {% if user %}
                <h3>{{ user.username }}님</h3>
                <form action="{% url 'accounts1:update' %}" method="post"
                      style="margin-left: 10px; margin-right: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">회원정보수정</button>
                </form>
                <form action="{% url 'accounts1:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">로그아웃</button>
                </form>
                {% endif %}
                {% else %}
                <li class="navbar-nav ml-auto" style="margin-right:10px;">
                    <a class="btn btn-primary" href="/accounts1/login">로그인</a>
                </li>
                <li class="navbar-nav ml-auto">
                    <a href="/accounts1/register" class="btn btn-secondary">회원가입</a>
                </li>
                {% endif %}

            </ul>
            <div class="ms-auto"> <!-- ms-auto를 사용하여 왼쪽 마진을 자동으로 설정, 오른쪽 정렬 효과 -->
                <form class="d-flex">
                    <a class="btn btn-outline-dark" type="submit" href="{% url 'cart:detail' %}">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        {% if cart|length > 0 %}
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart|length}}</span>
                        {% else %}
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        {% endif %}
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">할인공지예시</h4>
            </div>
            <div class="modal-body">
                <img src="{% static 'shop/images/sale_sample.png' %}" alt="공지사항 이미지" width="400" height="800">
            </div>
            <div class="modal-footer">
                <div id="check">
                    <input type="checkbox" value="checkbox" id='chkbox'>
                    <label for="chkbox">&nbsp&nbsp오늘 하루동안 보지 않기</label>
                </div>
                <div id="close">
                    <a href="javascript:closePop();">닫기</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'shop/footer.html' %}
</body>
<script>
$(document).ready(function() {
    var cookiedata = document.cookie;
    if (cookiedata.indexOf("popup=done") < 0){
        $("#myModal").modal('show');
    }
});

function setCookie( name, value, exDay ) {
    var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + exDay );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

function closePop() {
    //하루동안 보지 않기
    if (document.getElementById('chkbox').checked){
        setCookie( "popup", "done" , 1 ); // 저장될 쿠키명 , 쿠키 value값 , 기간
    }
    $("#myModal").modal('hide');
}

</script>

</html>