{% extends 'base.html' %}

{% block title %} Category Page
{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<br>
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="/" class="list-group-item {%if not current_category %}active{% endif %}">All</a>
            {% for category in categories %}
            <a href="{% url 'shop:category_page' category.slug %}"
               class="list-group-item {%if current_category.slug == category.slug %}active{% endif %}">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-between align-items-center mb-8">
            <div class="alert alert-info mb-8">
                {% if current_category %}
                {{current_category.name}}
                {% else %}전체상품
                {% endif %}
            </div>
            <div>
                {% if current_category %}
                <a class="btn btn-info btn-sm" href="?slug={{ current_category.slug }}&sort=price_asc">낮은 가격순</a>
                <a class="btn btn-info btn-sm" href="?slug={{ current_category.slug }}&sort=price_desc">높은 가격순</a>
                <a class="btn btn-info btn-sm" href="?slug={{ current_category.slug }}&sort=date">최신순</a>
                <a class="btn btn-info btn-sm" href="?slug={{ current_category.slug }}&sort=reviews">리뷰 많은 순</a>
                {% else %}
                <a class="btn btn-info btn-sm" href="?sort=price_asc">낮은 가격순</a>
                <a class="btn btn-info btn-sm" href="?sort=price_desc">높은 가격순</a>
                <a class="btn btn-info btn-sm" href="?sort=date">최신순</a>
                <a class="btn btn-info btn-sm" href="?sort=reviews">리뷰 많은 순</a>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <a class="btn btn-info btn-sm" href="/upload/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;작성하기
            </a>
            {% endif %}
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-4">
                <div class="card">
                    {% if product.image %}<img class="cart-img-top" src="{{ product.image.url }}" alt="Product Image"
                                               style="width:100%; height:300px;">{% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            {% if product.discount_percentage > 0 %}
                            <span class="badge bg-success">{{ product.discount_percentage|floatformat:"0" }}%</span>
                            <span class="product_base_price">
                            <del>{{ product.price|floatformat:"0" }}원</del>
                            </span><br>
                            <small class="product_discounted_price">{{ product.discounted_price|floatformat:"0" }}원</small>
                            {% else %}
                            <span class="product_discounted_price">{{ product.price|floatformat:"0" }}원</span>
                            {% endif %}
                        </p>
                        <p>리뷰수 : {{ product.review_count }}</p>
                        <a href="{% url 'shop:product_detail' product.pk %}"
                           class="btn btn-outline-dark mt-auto">상세보기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% include 'shop/pagination.html' %}
{% endblock %}